<html>
  <head></head>
  <body>
    <h1>New Task</h1>

    <div>
      <form method="POST" action="/tasks">
        <label>Task Name</label>
        <input type="text" name="task_name"/>
        
        <button type="submit">Enter</button>

      </form>
    
    </div>

   
        
      
  
  </body>
</html>