<html>
  <head></head>
  <body>
    <h1>Titles</h1>

    <% @albums.map do |album| %>
      <ul>
        <li>Title - <a href="/albums/<%= album.id %>"><%= album.title%></a></li>
        <li>Release Year - <%= album.release_year%></li>
      </ul>
      <% end %>
        
      
  
  </body>
</html>