<html>
  <head></head>
  <body>
    <h1><%= @album.title %></h1>

    <ul>
      <li>Release year: <%= @album.release_year %></li>
      <li>Artist: <%= @artist.name %></li>
    </ul>
    
  
  </body>
</html>