<html>
  <head></head>
  <body>
    <h1>Create New Album</h1>

    <div>
      <form method="POST" action="/albums">
      <div>
        <label>Album Title</label>
        <input type="text" name="title"/>
      </div>

      <div>
        <label>Album Release Year</label>
        <input type="text" name="release_year"/>
      </div>

      <div>
        <label>Album Artist ID</label>
        <input type="number" name="artist_id"/>
      </div>
        
        <button type="submit">Enter</button>

      </form>
    
    </div>


  </body>
</html>