<html>
  <head></head>
  <body>
    <h1>Create New Artist</h1>

    <div>
      <form method="POST" action="/artists">
      <div>
        <label>Artist Name</label>
        <input type="text" name="name"/>
      </div>

      <div>
        <label>Artist Genre</label>
        <input type="text" name="genre"/>
      </div>

        <button type="submit">Enter</button>

      </form>
    
    </div>


  </body>
</html>